<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="com.huozige.lab.container.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 敏感权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 蓝牙相关 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- NFC相关 -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 适配android 11无法唤起第三方apk 注意代码段在注册表里的位置 -->
    <queries>

        <!-- &lt;!&ndash; com.blankj.utilcode SDK检测虚拟机 &ndash;&gt; -->
        <!-- <intent> -->
        <!-- <action android:name="android.intent.action.DIAL" /> -->
        <!-- </intent> -->


        <!-- &lt;!&ndash; 微信支付SDK &ndash;&gt; -->
        <!-- <package android:name="com.tencent.mm" /> -->
        <!-- &lt;!&ndash; 支付宝支付SDK &ndash;&gt; -->
        <!-- <package android:name="com.eg.android.AlipayGphone" /> -->
        <!-- &lt;!&ndash; 微博 &ndash;&gt; -->
        <!-- <package android:name="com.sina.weibo" /> -->
        <!-- &lt;!&ndash; QQ &ndash;&gt; -->
        <!-- <package android:name="com.tencent.mobileqq" /> -->


        <!-- 判断相机是否 可以使用 如果不加以下配置 那么captureIntent.resolveActivity(context.getPackageManager())==null -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".HACApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".proxy.support.capture.CameraViewActivity"
            android:exported="false" />
        <activity
            android:name=".proxy.support.scanner.BleProxy_ReadingActivity"
            android:exported="false" />

        <receiver
            android:name=".utilities.HACFileDownloadedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ShowErrorActivity"
            android:exported="false" />
        <activity
            android:name=".proxy.support.pdf.PDFPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".webview.HttpAuthActivity"
            android:exported="false" />
        <activity
            android:name=".proxy.support.scanner.NfcProxy_ReadingActivity"
            android:exported="false" />
        <activity
            android:name=".TextConfigActivity"
            android:exported="false" />
        <activity
            android:name=".QuickConfigActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".proxy.support.scanner.PDAProxy_SingleScanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/CaptureTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.huozige.lab.container"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".proxy.support.jpush.CommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 5.2.0 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定义的Service -->
        <!-- 5.2.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageService 类, 并如下新增一个 Intent-Filter -->
        <service
            android:name=".proxy.support.jpush.MessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.SERVICE_MESSAGE" />

                <category android:name="com.huozige.lab.container" />
            </intent-filter>
        </service>
    </application>

</manifest>